<div class="page" id="<%= @page_title.downcase %>">
	<article>
		<header class="page-header blurry-lights">
			<div class="semitransparent-mask flex-container flex-row flex-horizontal-center flex-vertical-center">
				<h1 class="page-title"><%= @page_title %></h1>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<section class="contact-form col-md-7">
					<form class="form">
						<%= simple_form_for @message, url: contact_path do |f| %>
							<%= f.input :name, as: :string %>
							<%= f.input :email, as: :email %>
							<%= f.input :content, as: :text, label: 'Message', input_html: { rows: 10 } %>
							<%= f.button :submit, class: 'button' %>
							<%= link_to 'Cancel', root_path, class: 'button button-secondary' %>
						<% end %>
					</form>
				</section>
				<section class="contact-info col-md-5">
					hi
				</section>
			</div>
		</div>
		
	</article>
</div>