<div class="page contact container">
	<header class="page-header">
		<h1 class="page-title"><%= @page_title %></h1>
	</header>
	<form>
		<div class="form">
			<%= simple_form_for @message, url: contact_path do |f| %>
				<%= f.input :name, as: :string %>
				<%= f.input :email, as: :email %>
				<%= f.input :content, as: :text, input_html: { rows: 10 } %>
				<div class="btn-wrapper">
					<%= f.button :submit, class: 'btn btn-primary' %>
				</div>
			<% end %>
		</div>
		<div class="btn-wrapper">
			<%= link_to 'Cancel', root_path, class: 'btn btn-primary' %>
		</div>
	</form>
</div>