<nav class="topnav topnav-featured" role="navigation">
	<div class="flex-container">
		<div class="container-fluid flex-fill-parent flex-container flex-row flex-vertical-center">
			<%= link_to 'Gallery', root_path, class: 'navlink' %>
			<%= link_to 'About', about_path, class: 'navlink' %>
			<%= link_to 'Investment', investment_path, class: 'navlink' %>
			<%= link_to image_tag('https://s3.amazonaws.com/blissfulmoments/logo/signature-white-cropped.png', alt: 'Blissful Moments Photography', width: 250, class: 'brand-logo'), root_path, class: 'brand-link', id: 'white-signature' %>
			<%= link_to 'Studio', studio_path, class: 'navlink' %>
			<%= link_to 'Contact', contact_path, class: 'navlink' %>
			<%= link_to 'Clients', clients_path, class: 'navlink' %>
			<a href="javascript:void(0)" class="open-sidenav navlink"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</nav>

<nav class="topnav topnav-main" role="navigation">
	<div class="flex-container">
		<div class="container-fluid flex-fill-parent flex-container flex-row flex-vertical-center">
			<%= link_to 'Gallery', root_path, class: 'navlink' %>
			<%= link_to 'About', about_path, class: 'navlink' %>
			<%= link_to 'Investment', investment_path, class: 'navlink' %>
			<%= link_to image_tag('https://s3.amazonaws.com/blissfulmoments/logo/signature-black-cropped.png', alt: 'Blissful Moments Photography', width: 250, class: 'brand-logo'), root_path, class: 'brand-link', id: 'black-signature' %>
			<%= link_to 'Studio', studio_path, class: 'navlink' %>
			<%= link_to 'Contact', contact_path, class: 'navlink' %>
			<%= link_to 'Clients', clients_path, class: 'navlink' %>
			<a href="javascript:void(0)" class="open-sidenav navlink"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</nav>

<nav class="sidenav" role="navigation">
	<a href="javascript:void(0)" class="close-sidenav navlink pull-right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
	<%= link_to 'Home', root_path, class: 'navlink' %>
	<%= link_to 'Gallery', root_path, class: 'navlink' %>
	<%= link_to 'About', about_path, class: 'navlink' %>
	<%= link_to 'Investment', investment_path, class: 'navlink' %>
	<%= link_to 'Studio', studio_path, class: 'navlink' %>
	<%= link_to 'Contact', contact_path, class: 'navlink' %>
	<%= link_to 'Clients', clients_path, class: 'navlink' %>
</nav>
<div class="sidenav-mask"></div>