<nav class="topnav navbar-fixed-top flex-container" role="navigation">
	<div class="container-fluid flex-fill-parent flex-container flex-row flex-vertical-center">
		<%= link_to 'Gallery', root_path, class: 'topnav-link' %>
		<%= link_to 'About', about_path, class: 'topnav-link' %>
		<%= link_to 'Investment', investment_path, class: 'topnav-link' %>
		<%= link_to image_tag('https://s3.amazonaws.com/blissfulmoments/logo/signature-black-cropped_2.png', alt: 'Blissful Moments Photography', width: 250), root_path, class: 'brand-logo' %>
		<%= link_to 'Studio', studio_path, class: 'topnav-link' %>
		<%= link_to 'Contact', contact_path, class: 'topnav-link' %>
		<%= link_to 'Clients', clients_path, class: 'topnav-link' %>
		<a href="javascript:void(0)" class="open-sidenav"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
	</div>
</nav>

<nav class="sidenav" role="navigation">
	<a href="javascript:void(0)" class="close-sidenav pull-right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
	<%= link_to 'Home', root_path, class: 'sidenav-link' %>
	<%= link_to 'Gallery', root_path, class: 'sidenav-link' %>
	<%= link_to 'About', about_path, class: 'sidenav-link' %>
	<%= link_to 'Investment', investment_path, class: 'sidenav-link' %>
	<%= link_to 'Studio', studio_path, class: 'sidenav-link' %>
	<%= link_to 'Contact', contact_path, class: 'sidenav-link' %>
	<%= link_to 'Clients', clients_path, class: 'sidenav-link' %>
</nav>
<div class="sidenav-mask"></div>