<nav class="navbar navbar-default navbar-fixed-top flex-container" role="navigation">
	<div class="container-fluid flex-fill-parent flex-container flex-row flex-horizontal-center flex-vertical-center">
		<div class="nav-link"><%= link_to 'Gallery', root_path, class: 'nav-link' %></div>
		<div class="nav-link"><%= link_to 'About', about_path, class: 'nav-link' %></div>
		<div class="nav-link"><%= link_to 'Investment', investment_path, class: 'nav-link' %></div>
		<div class="nav-brand">
			<%= link_to image_tag('https://s3.amazonaws.com/blissfulmoments/logo/signature-black-cropped_2.png', alt: 'Blissful Moments Photography', width: 250), "http://localhost:3000/", class: 'brand-logo' %>
		</div><!-- /.navbar-brand -->
		<div class="nav-link"><%= link_to 'Studio', studio_path, class: 'nav-link' %></div>
		<div class="nav-link"><%= link_to 'Contact', contact_path, class: 'nav-link' %></div>
		<div class="nav-link"><%= link_to 'Clients', clients_path, class: 'nav-link' %></div>
	</div><!-- /.container-fluid -->
</nav>